/* we're keeping it ugly on purpose for the sake of our example */
.plugin-template {
	font-family: monospace;
	padding: 1em;
	border: 1px solid #666;
	border-radius: 0.31em;
}
.blinker {
	background-image: url( ../images/blinker.gif );
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
